
.button-purple{background-color: #4D3AB7;}
.button-red{background-color: #f44336;}
.button-green {background-color: #4CAF50;}



input[type=text], select, textarea,input[type=Password],input[type=email] ,input[type="file"] {
  width: 73%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
} 
select{
  width: 50%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
   margin-left: 23%;
}

input[type=submit] {
  /*background-color: #4D3AB7;*/
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.product-image{
  height: 96px;
  width:100px;
}

.fb-like {
  font-family:arial; 
  font-size: 4pt;
  left: 48%;
   top: 80px;
   background-color: red;
  /*border: 3px solid #73AD21;*/

}